<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application_Event_Management"
        tools:targetApi="31">
        <activity
            android:name=".EditEventActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar"/>
        <activity
            android:name=".ListedEventsActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".ProfileViewActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EventDisplay"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".PrivateEventShowActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".PublicEventShowActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".Frind_list"
            android:exported="true"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".Invite"
            android:exported="true" />
        <activity
            android:name=".PrivateEventEntry"
            android:exported="true"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".PublicEventEntry"
            android:exported="true"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".CreateAccountOrganizationActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>