<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application_Event_Management"
        tools:targetApi="31">
        <activity
            android:name=".views.EditEventActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.ListedEventsActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.ProfileViewActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".views.EventDisplay"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.PrivateEventShowActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.PublicEventShowActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.Frind_list"
            android:exported="true"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.Invite"
            android:exported="true" />
        <activity
            android:name=".views.PrivateEventEntry"
            android:exported="true"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.PublicEventEntry"
            android:exported="true"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.CreateAccountOrganizationActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.CreateAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Application_Event_Management.NoActionBar" />
        <activity
            android:name=".views.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>